* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
  }
  nav ul li ul li {
    display: none;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 20vh;
    top: 5vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 37%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    list-style: none;
    opacity: 0;
  }

  nav li a {
    text-decoration: none;
    color: #b52b2b;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .burger {
    font-size: 18px;
    line-height: 28px;
    display: block;
    margin-right: 6%;
    color: #b52b2b;
    background: #f8eaea;
    border-radius: 4px;
  }

  /* Keyframe animations */
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .nav-coffino {
    width: 52%;
    margin: 1% 0 1% 6%;
  }

  .hero-image-half-width {
    width: 100%;
    margin-bottom: 4%;
  }
  .nav-canada-flag {
    display: none;
  }

  .company-logo {
    display: none;
  }

  .container-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .hero-container p,
  form {
    display: none;
  }

  .container-bottom p {
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    align-self: center;
  }
  .red-color {
    color: #b52b2b;
  }

  .sign-up-btn {
    background: #b52b2b;
    line-height: 140%;
    border-radius: 100px;
    border: 1px solid #b52b2b;
    flex: 0 0 78.63%;
    margin-top: 5%;
    color: #ffffff;
    height: 40px;
  }

  .login-btn {
    background: #ffffff;
    line-height: 140%;
    border-radius: 100px;
    border: 1px solid #b52b2b;
    flex: 0 0 78.63%;
    margin-top: 3%;
    color: #b52b2b;
    height: 40px;
  }

  .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    margin: 20% 0%;
  }
}

@media only screen and (min-width: 992px) {
  form {
    display: inline-flex;
    position: absolute;
    bottom: 50%;
    left: 8.3%;
  }

  .burger {
    display: none;
  }

  .company-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 4% 10%;
  }

  .company-logo img {
    flex: 0 1 3%;
    width: 9%;
  }

  .container-bottom {
    display: none;
  }

  .email-input {
    background: #ffffff;
    border: 1px solid #793a13;
    box-sizing: border-box;
    border-radius: 100px;
    height: 48px;
    width: 475px;
    line-height: 28px;
    font-size: 20px;
    color: #cbc0b9;
    text-indent: 2%;
  }

  .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 48px;
    line-height: 72px;
    color: #793a13;
  }

  .hero-container {
    position: relative;
  }

  .hero-container p {
    font-size: 48px;
    line-height: 72px;
    color: #793a13;
    position: absolute;
    bottom: 60%;
    left: 8.3%;
  }

  .hero-image {
    width: 100%;
    height: 600px;
    background: linear-gradient(
        80.79deg,
        #ffffff 14.36%,
        rgba(255, 255, 255, 0.710201) 38.99%,
        rgba(139, 92, 92, 0) 71.4%
      ),
      url('../assets/hero_image_full_width.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .hero-image-half-width {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    min-height: 5vh;
  }

  .nav-canada-flag {
    width: 1.5%;
    margin-top: 0.8%;
  }

  .nav-coffino {
    width: 50%;
    margin-left: 5%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 75%;
    margin-top: 0.8%;
  }

  nav ul li a {
    text-decoration: none;
    color: #793a13;
    font-size: 18px;
    line-height: 28px;
  }

  nav ul li {
    list-style: none;
    padding: 1%;
  }
  .nav-spacing {
    margin-left: 3.5%;
  }

  nav ul li a:hover {
    background-color: #f8eaea;
  }

  nav ul li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 12%;
    width: 9%;
    background: #b52b2b;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1;
    display: list-item;
    list-style: none;
  }
  nav ul li ul li {
    margin-top: 4%;
    margin-left: 5%;
  }
  nav ul li ul li a {
    color: #ffffff;
  }

  nav ul li ul a:hover {
    background-color: red;
  }

  nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
  }

  .red-color {
    color: #b52b2b;
  }

  .sign-up-now-btn {
    background: #b52b2b;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 7%;
    height: 85%;
    width: 144px;
    color: #ffffff;
  }
}
@media only screen and (min-width: 550px) and (max-width: 990px) {
  form {
    display: inline-flex;
    position: absolute;
    bottom: 65%;
    left: 8.3%;
  }

  .burger {
    display: none;
  }

  .company-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 4% 10%;
  }
  #anw-logo {
    width: 8%;
  }

  #tims-logo {
    width: 13%;
  }

  #second-cup-logo {
    width: 9%;
  }

  .company-logo img {
    width: 5%;
    margin: 5% 0;
  }
  .anw-logo {
    width: 10%;
  }

  .container-bottom {
    display: none;
  }

  .email-input {
    background: #ffffff;
    border: 1px solid #793a13;
    box-sizing: border-box;
    border-radius: 100px;
    height: 48px;
    width: 350px;
    line-height: 28px;
    font-size: 20px;
    color: #cbc0b9;
    text-indent: 2%;
  }

  .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 48px;
    line-height: 72px;
    color: #793a13;
  }

  .hero-container {
    display: flex;
    justify-content: flex-end;
  }

  .hero-container p {
    font-size: 35px;
    line-height: 72px;
    color: #793a13;
    position: absolute;
    bottom: 75%;
    left: 8.3%;
  }

  .hero-image {
    width: 50%;
    height: 400px;
    background-image: url('../assets/hero_image_half_width.png');
    z-index: -1;
    background-size: 100% 100%;
  }

  .hero-image-half-width {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    min-height: 5vh;
    position: sticky;
    top: 0;
  }

  .nav-canada-flag {
    width: 1.5%;
    margin-top: 0.8%;
    margin-right: 3%;
  }

  .nav-coffino {
    width: 80%;
    margin-left: 12%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 75%;
    margin-top: 0.8%;
  }

  nav ul li a {
    text-decoration: none;
    color: #793a13;
    font-size: 18px;
    line-height: 28px;
  }

  nav ul li {
    list-style: none;
    padding: 1%;
  }
  .nav-spacing {
    margin-left: 3.5%;
  }

  nav ul li a:hover {
    background-color: #f8eaea;
  }

  nav ul li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 170px;
    width: 19%;
    background: #b52b2b;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1;
    display: list-item;
    list-style: none;
  }

  nav ul li ul li {
    margin-top: 10%;
    margin-left: 5%;
  }
  nav ul li ul li a {
    color: #ffffff;
    font-size: 18px;
  }

  nav ul li ul a:hover {
    background-color: red;
  }

  nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
  }

  .red-color {
    color: #b52b2b;
  }

  .sign-up-now-btn {
    background: #b52b2b;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 7%;
    height: 85%;
    width: 120px;
    color: #ffffff;
    font-size: 16px;
  }
}

/* Retina Screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  form {
    display: inline-flex;
    position: absolute;
    bottom: 50%;
    left: 8.3%;
  }

  .burger {
    display: none;
  }

  .company-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 4% 10%;
  }

  .company-logo img {
    flex: 0 1 3%;
    width: 9%;
  }

  .container-bottom {
    display: none;
  }

  .email-input {
    background: #ffffff;
    border: 1px solid #793a13;
    box-sizing: border-box;
    border-radius: 100px;
    height: 48px;
    width: 475px;
    line-height: 28px;
    font-size: 20px;
    color: #cbc0b9;
    text-indent: 2%;
  }

  .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 48px;
    line-height: 72px;
    color: #793a13;
  }

  .hero-container {
    position: relative;
  }

  .hero-container p {
    font-size: 48px;
    line-height: 72px;
    color: #793a13;
    position: absolute;
    bottom: 60%;
    left: 8.3%;
  }

  .hero-image {
    width: 100%;
    height: 600px;
    background: linear-gradient(
        80.79deg,
        #ffffff 14.36%,
        rgba(255, 255, 255, 0.710201) 38.99%,
        rgba(139, 92, 92, 0) 71.4%
      ),
      url('../assets/hero_image_full_width.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .hero-image-half-width {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    min-height: 5vh;
  }

  .nav-canada-flag {
    width: 1.5%;
    margin-top: 0.8%;
  }

  .nav-coffino {
    width: 50%;
    margin-left: 5%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 75%;
    margin-top: 0.8%;
  }

  nav ul li a {
    text-decoration: none;
    color: #793a13;
    font-size: 18px;
    line-height: 28px;
  }

  nav ul li {
    list-style: none;
    padding: 1%;
  }
  .nav-spacing {
    margin-left: 3.5%;
  }

  nav ul li a:hover {
    background-color: #f8eaea;
  }

  nav ul li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 12%;
    width: 9%;
    background: #b52b2b;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1;
    display: list-item;
    list-style: none;
  }
  nav ul li ul li {
    margin-top: 4%;
    margin-left: 5%;
  }
  nav ul li ul li a {
    color: #ffffff;
  }

  nav ul li ul a:hover {
    background-color: red;
  }

  nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
  }

  .red-color {
    color: #b52b2b;
  }

  .sign-up-now-btn {
    background: #b52b2b;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 7%;
    height: 85%;
    width: 144px;
    color: #ffffff;
  }
  /* Non Retina */
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    form {
      display: inline-flex;
      position: absolute;
      bottom: 50%;
      left: 8.3%;
    }

    .burger {
      display: none;
    }

    .company-logo {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      margin: 4% 10%;
    }

    .company-logo img {
      flex: 0 1 3%;
      width: 9%;
    }

    .container-bottom {
      display: none;
    }

    .email-input {
      background: #ffffff;
      border: 1px solid #793a13;
      box-sizing: border-box;
      border-radius: 100px;
      height: 48px;
      width: 475px;
      line-height: 28px;
      font-size: 20px;
      color: #cbc0b9;
      text-indent: 2%;
    }

    .footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      font-size: 48px;
      line-height: 72px;
      color: #793a13;
    }

    .hero-container {
      position: relative;
    }

    .hero-container p {
      font-size: 48px;
      line-height: 72px;
      color: #793a13;
      position: absolute;
      bottom: 60%;
      left: 8.3%;
    }

    .hero-image {
      width: 100%;
      height: 600px;
      background: linear-gradient(
          80.79deg,
          #ffffff 14.36%,
          rgba(255, 255, 255, 0.710201) 38.99%,
          rgba(139, 92, 92, 0) 71.4%
        ),
        url('../assets/hero_image_full_width.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .hero-image-half-width {
      display: none;
    }

    nav {
      display: flex;
      align-items: center;
      min-height: 5vh;
    }

    .nav-canada-flag {
      width: 1.5%;
      margin-top: 0.8%;
    }

    .nav-coffino {
      width: 50%;
      margin-left: 5%;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 0 0 75%;
      margin-top: 0.8%;
    }

    nav ul li a {
      text-decoration: none;
      color: #793a13;
      font-size: 18px;
      line-height: 28px;
    }

    nav ul li {
      list-style: none;
      padding: 1%;
    }
    .nav-spacing {
      margin-left: 3.5%;
    }

    nav ul li a:hover {
      background-color: #f8eaea;
    }

    nav ul li ul {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      height: 12%;
      width: 9%;
      background: #b52b2b;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      z-index: 1;
      display: list-item;
      list-style: none;
    }
    nav ul li ul li {
      margin-top: 4%;
      margin-left: 5%;
    }
    nav ul li ul li a {
      color: #ffffff;
    }

    nav ul li ul a:hover {
      background-color: red;
    }

    nav ul li:hover > ul {
      visibility: visible;
      opacity: 1;
    }

    .red-color {
      color: #b52b2b;
    }

    .sign-up-now-btn {
      background: #b52b2b;
      border-radius: 100px;
      cursor: pointer;
      position: absolute;
      right: 1%;
      top: 7%;
      height: 85%;
      width: 144px;
      color: #ffffff;
    }
  }
}
