* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    font-family: 'Ropa Sans', sans-serif;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 20vh;
    top: 5vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    list-style: none;
    opacity: 0;
  }

  .nav-links a {
    text-decoration: none;
    color: #b52b2b;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .burger {
    display: block;
    margin-right: 6%;
    color: #b52b2b;
    background: #f8eaea;
    border-radius: 4px;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .nav-coffino {
    width: 47%;
    margin: 1% 0 1% 4%;
  }
  .hero-image {
    width: 100%;
    margin-bottom: 4%;
  }
  .nav-canada-flag {
    display: none;
  }

  .company-logo {
    display: none;
  }

  .container-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .container-bottom p {
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    align-self: center;
  }
  .red-color {
    color: #b52b2b;
  }

  .sign-up-btn {
    background: #b52b2b;
    line-height: 140%;
    border-radius: 100px;
    border: 1px solid #b52b2b;
    flex: 0 0 78.63%;
    margin-top: 5%;
    color: #ffffff;
    height: 40px;
  }

  .login-btn {
    background: #ffffff;
    line-height: 140%;
    border-radius: 100px;
    border: 1px solid #b52b2b;
    flex: 0 0 78.63%;
    margin-top: 3%;
    color: #b52b2b;
    height: 40px;
  }

  .footer {
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    align-self: center;
    margin: 20% 0%;
  }

  .motto {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-family: 'Ropa Sans', sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links a {
    text-decoration: none;
    color: #793a13;
    font-size: 18px;
    line-height: 28px;
  }

  .burger {
    display: none;
  }
  .nav-coffino {
    width: 50%;
  }
  .hero-container {
    position: relative;
  }
  .hero-container p {
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    position: absolute;
    bottom: 60%;
    left: 8.3%;
  }
  .hero-image {
    width: 100%;
  }

  .container-bottom {
    display: none;
  }
  .nav-canada-flag {
    width: 1%;
  }
  .company-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .company-logo img {
    width: 8%;
  }
  .motto {
    position: absolute;
  }
  .red-color {
    color: #b52b2b;
  }
  .email-input {
    background: #ffffff;
    border: 1px solid #793a13;
    box-sizing: border-box;
    border-radius: 100px;
    height: 48px;
    width: 300px;
  }
  .sign-up-now-btn {
    background: #b52b2b;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 1%;
    bottom: 1%;
    height: 98%;
  }

  form {
    display: inline-flex;
    position: absolute;
    bottom: 50%;
    left: 8.3%;
  }
}
