/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Ropa Sans', sans-serif;
  }

  .container {
    display: flex;
  }

  .nav-coffino-no-beans-logo {
    width: 50%;
    margin: 1% 0 1% 4%;
  }
  .hero-image-half-width {
    width: 100%;
    margin-bottom: 4%;
  }
  .nav-canada-flag {
    display: none;
  }

  .company-logo {
    display: none;
  }

  .container-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .font-style {
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    align-self: center;
  }
  .red-color {
    color: #b52b2b;
  }

  .sign-up-btn {
    background: #b52b2b;
    line-height: 140%;
    border-radius: 100px;
    border: 1px solid #b52b2b;
    flex: 0 0 78.63%;
    margin-top: 5%;
    color: #ffffff;
    height: 40px;
  }

  .login-btn {
    background: #ffffff;
    line-height: 140%;
    border-radius: 100px;
    border: 1px solid #b52b2b;
    flex: 0 0 78.63%;
    margin-top: 3%;
    color: #b52b2b;
    height: 40px;
  }

  .footer {
    font-size: 32px;
    line-height: 48px;
    color: #793a13;
    align-self: center;
    margin: 20% 0%;
  }
}
